.body {
    width: 100%;
    margin: 0;
    background: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 300px;
    margin: auto;
    padding-top: 150px;
    width: 100%;
    height: 100%;
}

.nav {
    padding-top: 24px;
    padding-left: 48px;
    left: 0;
    top: 0;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 173px;
    display: inline-flex
}

.nax-text {
    color: black;
    font-size: 24px;
    font-family: JetBrains Mono;
    font-weight: 700;
    word-wrap: break-word
}

.side-image {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    height: 400px;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: start;
    color: #333333;
    font-family: JetBrains Mono, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    width: 450px;
    line-height: normal;
    letter-spacing: 0em;
}

.subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    text-align: start;
    color: #333333;
    font-family: JetBrains Mono, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 320px;
    line-height: normal;
    letter-spacing: 0em;
}

.description {
    font-family: JetBrains Mono, serif;
    align-items: center;
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
    background: #333333;
    color: #fff;
    font-family: JetBrains Mono, serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    padding-top: 90px;
    text-align: baseline;
    color: #bdbdbd;
    font-family: JetBrains Mono, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

span {
    text-decoration: underline;
    color: #bdbdbd;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="side-image"] {
        width: 400px;
        height: 400px;
    }

    [class*="description"] {
        font-family: JetBrains Mono, serif;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    @media only screen and (max-width: 472px) {
        /* For mobile phones: */
        [class*="side-image"] {
            width: 400px;
            height: 400px;
        }

        [class*="description"] {
            font-family: JetBrains Mono, serif;
            align-items: center;
            text-align: center;
            margin: auto;
        }

        [class*="content"] {
            flex-direction: column;
            gap: 0;
            align-items: center;
        }
    }

    @media only screen and (max-width: 1200px) {
        /* For mobile phones: */
        [class*="side-image"] {
            width: 400px;
            height: 400px;
        }

        [class*="content"] {
            flex-direction: column;
            gap: 0;
            align-items: center;
        }
    }
}


